.home {
  background-size: cover;
background-repeat: no-repeat;
    display: flex;
  justify-content: flex-end; 
  align-items: flex-end;
  text-align: right;

  padding-right: 5vw;
  padding-left: 5vw;
  padding-bottom: 5vh;

  box-sizing: border-box;
}

.headerContainer {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.headerContainer h1 {
  font-size: 90px;
  font-weight: 50;
  color: black;
  margin: 0;
  text-align: right;
}

.headerContainer p {
  font-size: 40px;
  font-weight: lighter;
  color: black;
  margin: 0 0 20px 0;
}

.headerContainer button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c05b1d;
  height: 50px;
  width: 180px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: #743711;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 650px) {
  .home {
    align-items: center;
    text-align: center;
    padding-right: 0;
  }

  .headerContainer {
    margin: 0;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    background-color: #c05b1d;
    color: white;
    gap: 20px;
  }

 .headerContainer h1 {
  font-size: clamp(32px, 8vw, 90px); /* se ajustează pe orice ecran */
  font-weight: 50;
  color: black;
  margin: 0;
  word-wrap: break-word;
  max-width: 100%;
}

  .headerContainer p {
    font-size: 30px;
    color: white;
    margin: 0 0 20px 0;
  }

  .headerContainer button {
    background-color: white;
    color: #c05b1d;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #743711;
  }
}
